* {
  box-sizing: border-box;
  font-family: 'Courier Prime', Courier, monospace;
  /* light grey: #444444 */
}

/* link styling */
a {
  color: inherit;
  text-decoration: none;
}

/* page structure */
.App {
  display: flex;
  flex-direction: row;
}

/* left col start */
.left-col {
  width: 30%;
  padding: 4vw 1vw 12vw 1vw; /* adjust at end to keep centered */
  text-align: left;
  background-color: #C4C4C4; /* really light gray */
  color: #333333;
}

.header-wrapper h1 {
  margin: 2vw 0
}

.header-wrapper p, .footer-wrapper p {
  margin: 0.5vw 0;
}

.contact-links, .other-links {
  margin: 3vw 0;
}

.footer-wrapper p img {
  height: 1em;
  margin: 0;
}
/* left col end */

/* right col start */
.right-col {
  width: 70%;
  padding: 18vh 1vw; /* adjust at end to keep centered */
  text-align: center;
  background-color: #333333; /* dark gray */
  color: #C4C4C4;
}

/* loop images */
.main-wrapper img {
  max-height: 60vh; /* instead use max-height */
  border-radius: 10px;
}
/* right col end */

/* for media query, 768px is the max */ 