* {
  /* margin: 0; */
  box-sizing: border-box;
  background-color: darkslategray;
}

.App {
  text-align: center;
  color: whitesmoke;
  /* padding: 10vw 0; */
  height: 100%;
  width: 100%;
}

/* loop images */
img {
  /* margin-top: 4vw; */
  max-height: 60vh; /* instead use max-height */
  border-radius: 10px;
}

/* link styling */
a {
  color: cornflowerblue;
}